<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Status user:</b>
  <%= @user.status_user %>
</p>

<p>
  <b>Type user:</b>
  <%= @user.type_user %>
</p>

<p>
  <b>Total deposit:</b>
  <%= @user.total_deposit %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
