<div class="col-xs-12 col-sm-6 col-md-9">
  <%= link_to 'New Post', new_seller_post_path, :class => "btn btn-primary" %>
</div>

<div class="col-xs-12 col-sm-6 col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Daftar Post</h3>
    </div>
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>No</th>
            <th>Judul Post</th>
            <th>Order status</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Grand total</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each_with_index do |order, idx| %>
            <tr>
              <td><%= idx + 1 %></td>
              <td><%= order.post.title rescue '-' %></td>
              <td><%= order.order_status %></td>
              <td><%= order.quantity %></td>
              <td><%= order.price %></td>
              <td><%= order.grand_total %></td>
              <td><%= link_to 'Show', seller_order_path(order), :class => "btn btn-link" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>