<%= form_for(bergain, url: url, html: {method: method, multipart: true}) do |f| %>
  <% if @bergain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bergain.errors.count, "error") %> prohibited this wholeseller_bergain from being saved:</h2>

      <ul>
        <% @bergain.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :survey_date %><br />
    <%= f.date_select :survey_date %>
  </div>
  <div class="field">
    <%= f.label :bergain_price %><br />
    <%= f.number_field :bergain_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
