<div class="col-xs-12 col-sm-6 col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Daftar Penawaran</h3>
    </div>
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>No</th>
            <th>Judul Post</th>
            <th>Tanggal Survey</th>
            <th>Status Penawaran</th>
            <th>Harga Penawaran per kilogram</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
          <% @bergains.each_with_index do |wholeseller_bergain, idx| %>
            <tr>
              <td><%= idx + 1 %></td>
              <td><%= wholeseller_bergain.title %></td>
              <td><%= wholeseller_bergain.survey_date %></td>
              <td><%= wholeseller_bergain.bergain_status %></td>
              <td><%= wholeseller_bergain.bergain_price %></td>
              <td>
                <%= link_to 'Show', wholeseller_bergain_path(wholeseller_bergain.id), :class => "btn btn-link" %>
                <% if wholeseller_bergain.bergain_status != "Approved" %>
                  <%= link_to 'Edit', edit_wholeseller_bergain_path(wholeseller_bergain.id), :class => "btn btn-link" %>
                <% end %>
                <% if wholeseller_bergain.bergain_status != "Approved" %>
                  <%= link_to 'Destroy', wholeseller_bergain_path(wholeseller_bergain.id), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-link" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>