<div class="col-xs-12 col-sm-6 col-md-9">
  <%= link_to 'Back', admin_payments_path, :class => "btn btn-primary" %>
</div>
<div class="col-xs-12 col-sm-6 col-md-9"></div>
<div class="col-xs-12 col-sm-6 col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Melihat pembayaran</h3>
    </div>
    <div class="panel-body">
      <p>
        <b>No rek:</b>
        <%= @payment.no_rek %>
      </p>

      <p>
        <b>Date payment:</b>
        <%= @payment.date_payment %>
      </p>

      <p>
        <b>Order number:</b>
        <%= @payment.order_number %>
      </p>

      <p>
        <b>No transfer to:</b>
        <%= @payment.no_transfer_to %>
      </p>

      <p>
        <b>Bank transfer to:</b>
        <%= @payment.bank_transfer_to %>
      </p>

      <p>
        <b>Status payment:</b>
        <%= @payment.status_payment %>
      </p>

      <p>
        <b>Method payment:</b>
        <%= @payment.method_payment %>
      </p>

      <p>
        <b>Name owner account:</b>
        <%= @payment.name_owner_account %>
      </p>
    </div>
  </div>
</div>
