<div class="col-xs-12 col-sm-6 col-md-9">
  <%= link_to 'Back', seller_posts_path, :class => "btn btn-primary" %>
</div>
<div class="col-xs-12 col-sm-6 col-md-9"></div>

<div class="col-xs-12 col-sm-6 col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Melihat post</h3>
    </div>
    <div class="panel-body">
      <p>
        <b>Judul:</b>
        <%= @post.title %>
      </p>

      <p>
        <b>Deskripsi:</b>
        <%= @post.description %>
      </p>

      <p>
        <b>Tanggal Panen:</b>
        <%= @post.harvest_date %>
      </p>

      <p>
        <b>Quantity:</b>
        <%= @post.quantity %>
      </p>

      <p>
        <b>Harga Beli:</b>
        <%= @post.purchase_price %>
      </p>

      <p>
        <b>Photo:</b>
        <%= image_tag(@post.photo_image_url(:thumb)) if @post.photo_image? %>
      </p>
    </div>
  </div>
</div>