<div class="col-xs-12 col-sm-6 col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Melakukan konfirmasi pembayaran</h3>
    </div>
    <div class="panel-body">
      <%= form_for(@payment, :url => save_confirm_payment_wholeseller_payments_path, :method => :post) do |f| %>
        <% if @payment.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this wholeseller_payment from being saved:</h2>

            <ul>
              <% @payment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="field">
          <%= f.label :no_transfer_to %><br />
          898099999998
          <%= f.hidden_field :no_transfer_to, :value => "898099999998" %>
        </div>
        <div class="field">
          <%= f.label :bank_transfer_to %><br />
          BCA
          <%= f.hidden_field :bank_transfer_to, :value => "BCA" %>
        </div>
        <div class="field">
          <%= f.label :no_rek %>*<br />
          <%= f.text_field :no_rek %>
        </div>
        <div class="field">
          <%= f.label :name_owner_account %>*<br />
          <%= f.text_field :name_owner_account %>
        </div>
        <div class="field">
          <%= f.label :date_payment %>*<br />
          <%= f.date_select :date_payment %>
        </div>
        <div class="field">
          <%= f.label :order_number %>*<br />
          <%= f.text_field :order_number %>
        </div>
        <div class="field">
          <%= f.label :amount %>*<br />
          <%= f.text_field :amount %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>